<div id = "teste" class="container">
    <h1>Bem-vindo ao restaurante: {{restaurant.nome}}, aberto {{restaurant.hoursOpen}} horas</h1>
    <br>
    <h4>{{availableItemsTotal}} de {{menuLength}} pratos disponíveis</h4>
    <br>
    <p>Adicionar prato
    {{input value = newItem}}
    <button {{action 'saveNewItem' }}>Salvar</button></p>
    <br>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <td><b>Comida</b></td>
          <td><b>Status</b></td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |food|}}
          <tr>
            <td id="colum-one">
              {{#link-to 'food' foods.name}}
              {{food.name}}
              {{/link-to}}
            </td>
            <td id="colum-one">
              {{#if food.isAvaliable}}
                Disponível
              {{else}}
                Indisponível
              {{/if}}
            </td>
            <td id="colum-two">
              <button class="float-right"> Editar</button>
              <button class="float-right" {{action 'destroyItem' food}} > Excluir</button>
              {{#if food.isAvaliable}}
                <button class="float-right" {{action 'makeUnavaliable' food}}> Desabilitar</button>
              {{else}}
                <button class="float-right" {{action 'makeAvaliable' food}}> Habilitar</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
      <br><br><br>
</div>
