<p>Bem-vindo ao restaurante: {{restaurant.nome}}</p>

<h3>Seu nome: {{nome}}</h3>
<p id="explanation">O melhores pratos gourmet da região de Narnia</p>
<h3>Sua comida favorita: {{favoriteFood}}</h3>
<ul>
  <h4>Pratos disponíveis</h4>
    {{#each model as |food|}}
      {{#if food.isAvaliable}}
        <li>{{food.name}}!
        <button {{action 'makeUnavaliable' food}}> Desabilitar</button>
        </li>
      {{else}}
        <li class = "not-avaliable">{{food.name}}
        <button {{action 'makeAvaliable' food}}> Habilitar</button>
      </li>
      {{/if}}
    {{/each}}
</ul>
<hr>
<p>Comida favorita: {{input value= favoriteFood}}</p>
<p>Seu nome: {{input value= nome}}</p>
