<p>Bem-vindo ao restaurante: {{restaurant.nome}}, aberto {{restaurant.hoursOpen}} horas</p>

<p id="explanation">O melhores pratos gourmet da região de Narnia</p>
<ul>
  <h4>Pratos disponíveis</h4>
  <p>Total de pratos: {{model.length}}</p>
    {{#each model as |food|}}
      {{#if food.isAvaliable}}
        <li>{{food.name}}!
        <button {{action 'makeUnavaliable' food}}> Desabilitar</button>
        </li>
      {{else}}
        <li class = "not-avaliable">{{food.name}}
        <button {{action 'makeAvaliable' food}}> Habilitar</button>
        <button {{action 'destroyItem' food}}> Destruir </button>
      </li>
      {{/if}}
    {{/each}}
</ul>
<hr>
<p>Adicionar comida</p>
{{input value = newItem}}
<button {{action 'saveNewItem'}}>Salvar</button>
