<div id = "teste" class="container">
    <h1>Bem-vindo ao restaurante: {{restaurant.nome}}, aberto {{restaurant.hoursOpen}} horas</h1>
    <p id="explanation"> Os melhores pratos gourmet da região de Narnia</p>
    <br>
    <hr>
    {{#link-to 'new-food'}}
      <button type="button" class="btn btn-primary">Cadastrar</button>
    {{/link-to}}
    <br><br>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <td><b>Ativo</b></td>
          <td><b>Comida</b></td>
          <td><b>Status</b></td>
          <td><b>Ações</b></td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |food|}}
          <tr>
            <td id="colum-disponibility">
              {{#if food.isAvaliable}}
                <input type="checkbox" checked={{food.isAvaliable}} {{action 'makeUnavaliable' food}}>
              {{else}}
                <input type="checkbox" checked={{food.isAvaliable}} {{action 'makeAvaliable' food}}>
              {{/if}}
            </td>
            <td id="colum-name">
              {{#link-to 'food' food.name}}
              <b>{{food.name}}</b>
              {{/link-to}}
            </td>
            <td id="colum-status">
              {{#if food.isAvaliable}}
                Disponivel
              {{else}}
                Indisponivel
              {{/if}}
            </td>
            <td id="colum-options">
              {{#link-to 'edit-food' food.name}}
              <button type="button" class="btn btn-primary">Editar</button>
              {{/link-to}}
              <button type="button" class="btn btn-danger" {{action 'destroyItem' food}}> Excluir</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
    <p>{{availableItemsTotal}} de {{menuLength}} pratos disponíveis</p>
    <br>
</div>
