<div id = "teste">
    <h1>Bem-vindo ao restaurante: {{restaurant.nome}}, aberto {{restaurant.hoursOpen}} horas</h1>
    <p id="explanation"> Os melhores pratos gourmet da região de Narnia</p>
    <hr>
    <div>
      {{#link-to 'new-food'}}
        <button type="button" class="btn btn-primary">Cadastrar</button>
      {{/link-to}}
      <button type="button" class="btn btn-primary">Filtros</button>
      {{input type="text" value=search id="fieldSearch"}}<button type="button" class="btn btn-primary">Search</button>
    </div>
    <br>
    <table class="table table-hover table-responsive" id="tableMaster">
      <thead>
        <tr>
          <td><b>Ativo</b></td>
          <td><b>Comida</b></td>
          <td><b>Status</b></td>
          <td><b>Ações</b></td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |food|}}
          <tr>
            <td id="colum-disponibility">
              {{#if food.isAvaliable}}
                <input type="checkbox" checked={{food.isAvaliable}} {{action 'makeUnavaliable' food}}>
              {{else}}
                <input type="checkbox" checked={{food.isAvaliable}} {{action 'makeAvaliable' food}}>
              {{/if}}
            </td>
            <td id="colum-name">
              {{food.name}}
            </td>
            <td id="colum-status">
              {{#if food.isAvaliable}}
                Disponivel
              {{else}}
                Indisponivel
              {{/if}}
            </td>
            <td id="colum-options">
              {{#link-to 'edit-food' food.id}}
                <button type="button" class="btn btn-primary">Editar</button>
              {{/link-to}}
              {{#link-to 'foods.food' food_id}}
                <button type="button" class="btn btn-success">Visualisar</button>
              {{/link-to}}
              <button type="button" class="btn btn-danger" {{action 'destroyItem' food}}> Excluir</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>{{availableItemsTotal}} de {{menuLength}} pratos disponíveis</p>
    <br>
    <div class="flex-item">
      {{outlet}}
    </div>
</div>
