{{outlet}}
  <div id="teste">
  <h1>Adicionar prato</h1>
  <hr>
  <div>
    Nome:{{input value = newName}}
    Descrição:{{input value = newDescription}}
    Tempero:{{input value = newSeasoning}}
    ingerdientes:{{input value = newIngerdient}}
    <button type="button" class="btn btn-success" {{action 'saveNewItem'}}>Salvar</button>
  </div>
    <br><br>
</div>
