{{outlet}}
<div class="container">
  <h1>Adicionar chef</h1>
  Nome:{{input value = newName}}
  Fama:{{input value = newFame}}
  Saúde:{{input value = newJealth}}
  Numbero de estudantes:{{input value = newNumberStudents}}
  Imagem:{{input value = newImageUrl}}
  Restaurante:{{input value = newImageUrl}}
  <button {{action 'saveNewItem'}}>Salvar</button>
  <br><br>
</div>
