{{outlet}}
<div id="teste">
  <h1>Adicionar chef</h1>
  <hr>
  nome:{{input value = newName}}
  fama:{{input value = newFame}}
  saúde:{{input value = newJealth}}
  numbero de estudantes:{{input value = newNumberStudents}}
  imagem:{{input value = newImageUrl}}
  restaurante:{{input value = newRestaurante}}
  imageUrl:{{input value = newImageUrl}}

  <button type="button" class="btn btn-success" {{action 'saveNewItem'}}> Salvar</button>
  <br><br>
</div>
